/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color:#010f17;
    
}
nav ul{
    padding:10px;
    display: flex;
    justify-content:end;
    list-style: none;
    
}
nav ul li{
    padding: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    font-size: 19px;
    color: #fff;
    margin: 20px 0;
}
nav ul li a:hover{
    color: #023352;
    transition: 0.3s ease-in all;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container h2{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.container{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;

}
.container .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width:50%; /*(100% / 3 - 15px);*/
    column-gap: 20px;
    padding: 15px;
    flex-direction: column;
    margin: 10px 0;
    justify-content: space-between;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
button{
    color: #fff;
    width: 200px;
    height: 50px;
    background:#023352;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius:3px;
    margin-left: 18px;
}
